@font-face {
  font-family: 'pioneer-title';
  src: url('./font/GabiaDunn.ttf');
}

@font-face {
  font-family: 'pioneer-content';
  src: url('./font/SourceHanSerifK-VF.ttf');
}

body {
  margin: 0;
}