@font-face {
  font-family: 'pioneer-title';
  src: url('./font/GabiaDunn.ttf');
}

@font-face {
  font-family: 'pioneer-content';
  src: url('./font/PretendardVariable.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
  }

input:focus {
  outline: none;
}

input::-ms-clear { display: none; }